@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content {
    height: 90vh;
    padding-top: 35vh;
}

.logo {
    height: 160px;
    box-shadow: 1px 1px 10px rgba(169, 169, 169, 0.671);
    border-radius: 5px;
}

img {
    width: 424px;
    border-radius: 5px;
}

.select-letter {
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
}

.select-letter a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.select-letter a:hover {
    text-decoration:underline ;
}

.description {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* fr means fraction */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "sidebar1 banner1 banner1 sidebar2"
        "sidebar1 maintext maintext sidebar2"
        "sidebar1 maintext maintext sidebar2"
        "sidebar1 banner2 banner2 sidebar2";
    grid-column-gap: 0.2rem;
    grid-row-gap: 0.2rem;
}

.sidebar1 {
    grid-area: sidebar1;
}

.banner1 {
    grid-area: banner1;
}

.maintext {
    background-color: darkgray;
    max-width: 900px;
    grid-area: maintext;
}

.maintext h1 {
    font-size: 30px;
    text-align: center;
    padding:10px 0 30px 0;
}

.maintext p {
    padding: 0 20px 10px;
}

.banner2 {
    grid-area: banner2;
}

.sidebar2 {
    grid-area: sidebar2;
}

.donation {
    background-color: rgb(223, 223, 223);
    text-align: center;
}

.donation h1 {
    font-size: 30px;
    color: red;
    padding: 10px 0;
}

.donation h3 {
    font-weight: 900;
    padding: 0 10px;
}

button {
    margin: 20px;
    font-family: 'Itim', cursive;
    padding: 8px 25px;
    font-size: 25px;
    background-color: rgb(0, 255, 115);
    border-radius: 20px;
    cursor: pointer;
    border-style: none;
    transition: .5s ease;
}

button:hover {
    background-color: rgb(0, 136, 61);
}

button a {
    text-decoration: none;
    color: white;
}

/* Footert */
.footer {
    height: 12vh;
    display: flex;
    clear: both;
    font-size: 14px;
    font-weight: 900;
    align-items: center;
    vertical-align: middle;
    justify-content:center;
    background: linear-gradient(0deg, rgb(82, 82, 82) 0%, rgba(115,115,115,1) 60%, rgb(138, 138, 138) 99%);;
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width:698px) {
    .logo {
        display: none;
    }

    .select-letter a {
        letter-spacing: 12px;
        line-height: 30px;
    }

    .description {
        grid-template-columns: 1fr;
        grid-template-rows: .9fr 2.1fr 2.1fr .9fr;
        grid-template-areas: 
        "banner1"
        "maintext"
        "maintext"
        "banner2";
    }

    .sidebar1 {
        display: none;
    }

    .sidebar2 {
        display: none;
    }
}