@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 52vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container li, a {
    text-decoration: none;
    list-style-type: none;
}

.donation {
    background-color: rgb(223, 223, 223);
    text-align: center;
}

.donation h1 {
    font-size: 30px;
    color: red;
    padding: 10px 0;
}

.donation h3 {
    font-weight: 900;
    padding: 0 10px;
}

button {
    margin: 20px;
    font-family: 'Itim', cursive;
    padding: 8px 25px;
    font-size: 25px;
    background-color: rgb(0, 255, 115);
    border-radius: 20px;
    cursor: pointer;
    border-style: none;
    transition: .5s ease;
}

button:hover {
    background-color: rgb(0, 136, 61);
}

button a {
    text-decoration: none;
    color: white;
}

/* Footert */
.footer {
    height: 12vh;
    display: flex;
    clear: both;
    font-size: 14px;
    font-weight: 900;
    align-items: center;
    vertical-align: middle;
    justify-content:center;
    background: linear-gradient(0deg, rgb(82, 82, 82) 0%, rgba(115,115,115,1) 60%, rgb(138, 138, 138) 99%);;
    color: #fff;
}

.footer a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width:698px) {
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .list {
        max-width: 85%;
        box-sizing: content-box;
    }

    .list li {
        padding: 5px 10px;
    }
}